<!--  Replace menu links here -->

<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<!-- <li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/authors-list.html">Author</a>
</li> -->
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/categories.html#xamarin.forms">Xamarin.Forms</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/categories.html#maui">MAUI</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/categories.html#ui/ux">UI/UX</a>
</li>